/target/
!.mvn/wrapper/maven-wrapper.jar

### Database ###
src/main/resources/UrlShortenerDB.mv.db
src/main/resources/UrlShortenerDB.trace.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/